@charset "UTF-8";
.row .carta-p {
  background-color: #171614; }

.card-img,
.card-img-top {
  background: linear-gradient(45deg, black, transparent); }

.contact-view {
  height: 100vh; }

/*DISEÑO/SIZE SECCION DE HOME*/
.container {
  height: 95%; }
  @media only screen and (max-width: 767px) {
    .container {
      padding: 0 20px; } }
  .container .container__wrap {
    display: flex;
    margin-top: 10rem;
    justify-content: space-evenly; }
    @media only screen and (max-width: 767px) {
      .container .container__wrap {
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0; } }
    .container .container__wrap .container__block {
      width: 50%; }
      @media only screen and (max-width: 767px) {
        .container .container__wrap .container__block {
          width: 100%; } }
      .container .container__wrap .container__block .container__title {
        font-size: 6rem; }
        @media only screen and (max-width: 767px) {
          .container .container__wrap .container__block .container__title {
            margin-left: 0;
            padding: 0;
            margin-top: 50px;
            font-size: 3.5rem;
            text-align: center; } }
      .container .container__wrap .container__block .container__text {
        font-size: 3rem;
        font-weight: 500;
        width: 100%;
        margin-bottom: 12px; }
        @media only screen and (max-width: 767px) {
          .container .container__wrap .container__block .container__text {
            font-size: 1.8rem;
            width: 100%;
            margin-left: 0;
            margin-bottom: 30px;
            text-align: center; } }
    .container .container__wrap .container__picture {
      width: 38rem;
      max-height: 35vh;
      clip-path: circle(); }
      @media only screen and (max-width: 767px) {
        .container .container__wrap .container__picture {
          align-self: center;
          width: 45%; } }

/*DISEÑO DEL PARALLAX y SLIDER*/
.carousel-size {
  padding: 0 130px; }
  @media only screen and (max-width: 767px) {
    .carousel-size {
      padding: 0; } }

.carouselText p {
  width: 100%;
  font-weight: 300;
  margin-left: 0;
  margin-bottom: 38%;
  font-size: 2.2rem; }
  @media only screen and (max-width: 767px) {
    .carouselText p {
      margin-bottom: 40px;
      font-size: 1.8rem; } }

.parallax {
  background-image: url("../images/dark.jpg");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 8px;
  line-height: 2.5rem;
  height: 500px;
  margin: 4rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .parallax {
      margin: 20px 5px 0px 5px;
      height: 100vh; } }
  .parallax .parallax__title {
    padding: 2rem 0rem 0rem 2rem; }
  .parallax .parallax__text {
    padding: 0rem 2rem 0rem 2rem;
    text-align: justify;
    font-weight: 300; }
    @media only screen and (max-width: 767px) {
      .parallax .parallax__text {
        font-size: 1.2rem; } }

/*ESTILOS PARA LAS CARDS */
.container-margin {
  margin-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .container-margin .card-margin {
      margin-bottom: 20px;
      margin-left: 23%; } }
  .container-margin .carta-p h5 {
    font-weight: 700;
    color: whitesmoke; }
  .container-margin .carta-p p {
    margin-left: 0;
    width: auto;
    font-size: 1.6rem;
    font-weight: 300; }

.skillsVarias-1 {
  width: 30%;
  height: 25px;
  color: whitesmoke;
  padding: 20px;
  background: linear-gradient(to right, #333333, #dd1818); }
  @media only screen and (max-width: 767px) {
    .skillsVarias-1 h3 {
      font-size: 1rem; } }

.skillsVarias-2 {
  width: 60%;
  height: 50px;
  color: whitesmoke;
  padding: 20px;
  background: linear-gradient(to right, #333333, #dd1818); }
  @media only screen and (max-width: 767px) {
    .skillsVarias-2 h3 {
      font-size: 1rem; } }

.skillsVarias-3 {
  width: 90%;
  height: 75px;
  color: whitesmoke;
  padding: 20px;
  background: linear-gradient(to right, #333333, #dd1818); }
  @media only screen and (max-width: 767px) {
    .skillsVarias-3 h3 {
      font-size: 1rem; } }

/*DISEÑO DE BOTON EN HOME*/
@media only screen and (max-width: 767px) {
  .button__mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 25px; } }

.button__container {
  width: 156px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171614;
  border-radius: 15px; }
  @media only screen and (max-width: 767px) {
    .button__container {
      margin-left: 0;
      align-self: center;
      margin-top: 20px; } }
  .button__container .button__content {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3rem;
    padding: 20px; }

/*DISEÑO DEL FOOTER QUE CONTIENE REDES SOCIALES*/
footer {
  background-color: #171614;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    footer {
      flex-direction: column;
      height: auto; } }
  footer .footer__icon {
    width: 40px;
    height: 40px;
    transition: all 1s;
    cursor: pointer; }
    footer .footer__icon:hover {
      transform: translateY(-10px); }
    @media only screen and (max-width: 767px) {
      footer .footer__icon {
        margin: 20px 0px; } }
  footer span {
    color: whitesmoke; }

/* DISEÑO DEL GRID EN "PROJECTS" */
.grid-container {
  display: grid;
  grid-template-areas: "projects projects" "project-1 project-2" "project-1 project-3";
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 30% 50%;
  height: 70vh;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px; }
  .grid-container a {
    text-decoration: none;
    color: whitesmoke; }
  @media only screen and (max-width: 767px) {
    .grid-container {
      grid-template-areas: "projects projects" "project-1 project-1" "project-2 project-2" "project-3 project-3";
      grid-template-rows: 100px 1fr 1fr 1fr;
      grid-template-columns: 100%;
      height: 100vh;
      margin: 0;
      padding: 30px;
      column-gap: 0; } }
  .grid-container div.projects {
    grid-area: projects;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .grid-container div.project-1 {
    grid-area: project-1;
    background-image: url(../images/project1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2.5rem;
    transition: all 0.5s; }
  .grid-container div.project-2 {
    grid-area: project-2;
    background-image: url(../images/project2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: w whitesmoke;
    font-weight: 500;
    font-size: 2.5rem;
    transition: all 0.5s; }
  .grid-container div.project-3 {
    grid-area: project-3;
    background-image: url(../images/project3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: 500;
    font-size: 2.5rem;
    transition: all 0.5s; }
  .grid-container .project-1:hover,
  .grid-container .project-2:hover,
  .grid-container .project-3:hover {
    transform: scale(1.1, 1.1); }

/*ESTILO DEL LINEAR GRADIENT :) */
.gradiente {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: linear-gradient(45deg, black, transparent);
  height: 80px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem; }

.section-iframe {
  display: flex; }
  @media only screen and (max-width: 767px) {
    .section-iframe {
      flex-direction: column;
      margin-bottom: 2rem; } }
  .section-iframe .section-iframe__video {
    margin: 8rem 0rem;
    border: 1px solid black;
    box-shadow: -9px -8px 15px 5px rgba(206, 132, 60, 0.85); }
    @media only screen and (max-width: 767px) {
      .section-iframe .section-iframe__video {
        margin: 0;
        padding: 10px;
        width: 100%;
        height: 35vh; } }
  @media only screen and (max-width: 767px) {
    .section-iframe .section-iframe__question {
      text-align: center; } }

@media only screen and (max-width: 767px) {
  .d-none {
    display: inline-block !important; } }

.skills--derecha {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

/*VISTA TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1239px) {
  .nav ul {
    justify-content: center; }
    .nav ul a {
      padding: 0; }
  .container {
    padding: 0 40px; }
    .container .container__wrap {
      flex-direction: column; }
      .container .container__wrap .container__block {
        width: 100%; }
        .container .container__wrap .container__block .container__title {
          padding: 0;
          text-align: center; }
        .container .container__wrap .container__block .container__text {
          font-size: 2.5rem;
          width: 100%;
          text-align: center;
          margin-bottom: 20px; }
        .container .container__wrap .container__block .button__mobile {
          display: flex;
          justify-content: center;
          margin-bottom: 40px; }
      .container .container__wrap .container__picture {
        align-self: center; }
  .carousel-size {
    padding: 0; }
  .carouselText p {
    margin-bottom: 30%; }
  .center-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 25px; }
  .section-iframe {
    flex-direction: column; }
  .section-iframe__question {
    align-self: center;
    margin-left: 15px; }
  .section-iframe .section-iframe__video {
    align-self: center; }
  .grid-container {
    grid-template-columns: 40% 60%; } }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #3c3c3c; }

P {
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.5rem; }

h1 {
  color: #f85e00;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0rem 0rem 2rem;
  margin-bottom: 5rem; }

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 20px;
  color: #f85e00; }

form {
  margin: 4rem; }

/*NAV BAR*/
.nav {
  background-color: #171614;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row; }
  .nav ul {
    font-size: 1.7rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; }
    @media only screen and (max-width: 767px) {
      .nav ul {
        font-size: 1.8rem;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #171614;
        top: 8rem;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.5s;
        z-index: 1; } }
  .nav li {
    margin: 40px;
    transition: 0.5s; }
    @media only screen and (min-width: 1025px) {
      .nav li:hover {
        background-color: #f85e00;
        border-radius: 15px; } }
    @media only screen and (max-width: 767px) {
      .nav li {
        margin: 4rem 0px; } }
  .nav a {
    color: #f85e00;
    text-decoration: none;
    padding: 2px 20px; }
    .nav a:hover {
      color: whitesmoke; }
    @media only screen and (max-width: 767px) {
      .nav a {
        padding: 0; } }
  .nav #check {
    display: none; }
    @media only screen and (max-width: 767px) {
      .nav #check:checked ~ ul {
        left: 0; }
      .nav #check:checked ~ label #btn {
        display: none; }
      .nav #check:checked ~ label #cancel {
        display: block; } }
  .nav label #btn,
  .nav label #cancel {
    color: whitesmoke;
    position: absolute;
    right: 6rem;
    top: 4.5rem;
    font-size: 3rem;
    display: none; }
  @media only screen and (max-width: 767px) {
    .nav label #btn {
      display: block; } }

/* ALGUNAS MODIFICACIONES A LAS CLASES DADAS POR BOOTSTRAP */
ul {
  margin-bottom: 0;
  padding-left: 0; }
