/*DISEÑO DE BOTON EN HOME*/
.button__mobile {
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.button__container {
  width: 156px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $navFoot;
  border-radius: 15px;
  @media only screen and (max-width: 767px) {
    margin-left: 0;
    align-self: center;
    margin-top: 20px;
  }
  .button__content {
    text-decoration: none;
    color: $Pcolor;
    font-size: 1.3rem;
    padding: 20px;
  }
}

/*DISEÑO DEL FOOTER QUE CONTIENE REDES SOCIALES*/
footer {
  background-color: $navFoot;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    height: auto;
  }
  .footer__icon {
    width: 40px;
    height: 40px;
    transition: all 1s;
    cursor: pointer;
    &:hover {
      transform: translateY(-10px);
    }
    @media only screen and (max-width: 767px) {
      margin: 20px 0px;
    }
  }
  span {
    color: $Pcolor;
  }
}

/* DISEÑO DEL GRID EN "PROJECTS" */
.grid-container {
  display: grid;
  grid-template-areas:
    "projects projects"
    "project-1 project-2"
    "project-1 project-3";
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 30% 50%;
  height: 70vh;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  a {
    text-decoration: none;
    color: $Pcolor;
  }

  @media only screen and (max-width: 767px) {
    grid-template-areas:
      "projects projects"
      "project-1 project-1"
      "project-2 project-2"
      "project-3 project-3";
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-columns: 100%;
    height: 100vh;
    margin: 0;
    padding: 30px;
    column-gap: 0;
  }

  div.projects {
    grid-area: projects;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  div.project-1 {
    grid-area: project-1;
    background-image: url(../images/project1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $weight;
    font-size: 2.5rem;
    transition: all 0.5s;
  }
  div.project-2 {
    grid-area: project-2;
    background-image: url(../images/project2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: w$Pcolor;
    font-weight: $weight;
    font-size: 2.5rem;
    transition: all 0.5s;
  }
  div.project-3 {
    grid-area: project-3;
    background-image: url(../images/project3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $Pcolor;
    font-weight: $weight;
    font-size: 2.5rem;
    transition: all 0.5s;
  }
  .project-1:hover,
  .project-2:hover,
  .project-3:hover {
    transform: scale(1.1, 1.1);
  }
}
/*ESTILO DEL LINEAR GRADIENT :) */
.gradiente {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $Pcolor;
  background: linear-gradient(45deg, black, transparent);
  height: 80px;
  text-align: center;
  font-weight: $weight;
  font-size: 1.2rem;
}

.section-iframe {
  display: flex;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .section-iframe__video {
    margin: 8rem 0rem;
    border: 1px solid black;
    box-shadow: -9px -8px 15px 5px rgba(206, 132, 60, 0.85);
    @media only screen and (max-width: 767px) {
      margin: 0;
      padding: 10px;
      width: 100%;
      height: 35vh;
    }
  }
  @media only screen and (max-width: 767px) {
    .section-iframe__question {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .d-none {
    display: inline-block !important;
  }
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills--derecha {
  @include flex-end;
}
