@media only screen and (min-width: 768px) and (max-width: 1239px) {
  .nav ul {
    font-size: 1.8rem;
  }
  .nav li {
    margin: auto;
  }

  .container {
    padding: 0 40px;

    .container__picture {
      width: 30%;
      right: 265px;
      top: 150px;
    }
    .container__title {
      margin-top: 270px;
      padding: 0;
      margin-left: 0;
      text-align: center;
    }
    .container__text {
      font-size: 2.5rem;
      width: 100%;
      margin-left: 0;
      text-align: center;
    }
  }
}
