@import "colors";
@import "size";
@import "gridFlex";
@import "tabletView";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: $Back;
}

P {
  color: $Pcolor;
  font-weight: $weight;
  font-size: 1.5rem;
}

h1 {
  color: $Titles;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0rem 0rem 2rem;
  margin-bottom: 5rem;
}

h2 {
  font-size: 2rem;
  font-weight: $weight;
  margin: 20px;
  color: $Titles;
}

form {
  margin: 4rem;
}

/*NAV BAR*/
.nav {
  background-color: $navFoot;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  ul {
    font-size: 1.7rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    @media only screen and (max-width: 767px) {
      font-size: 1.8rem;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: $navFoot;
      top: 8rem;
      left: -100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.5s;
      z-index: 1;
    }
  }
  li {
    margin: 40px;
    transition: 0.5s;
    @media only screen and (min-width: 1025px) {
      &:hover {
        background-color: $Titles;
        border-radius: 15px;
      }
    }
    @media only screen and (max-width: 767px) {
      margin: 4rem 0px;
    }
  }
  a {
    color: $Titles;
    text-decoration: none;
    padding: 2px 20px;
    &:hover {
      color: $Pcolor;
    }
    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }
  #check {
    display: none;
    @media only screen and (max-width: 767px) {
      &:checked ~ ul {
        left: 0;
      }
      &:checked ~ label #btn {
        display: none;
      }
      &:checked ~ label #cancel {
        display: block;
      }
    }
  }
  label #btn,
  label #cancel {
    color: $Pcolor;
    position: absolute;
    right: 6rem;
    top: 4.5rem;
    font-size: 3rem;
    display: none;
  }
  @media only screen and (max-width: 767px) {
    label #btn {
      display: block;
    }
  }
}

/* ALGUNAS MODIFICACIONES A LAS CLASES DADAS POR BOOTSTRAP */
ul {
  margin-bottom: 0;
  padding-left: 0;
}
